jsonargparse
pytorch_lightning
torch
torchmetrics
torchvision
docstring_parser
pytorch-lightning[extra]
lightning; python_version >= '3.8'
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
